.HeaderContainer {
  text-align: center;
  padding: .6rem;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderContainer h1 {
  margin: 0;
  font-size: 2.2rem;
  color: rgb(123, 170, 134);
  text-shadow: 1px 1px 1px black;
}