:root {
  font-family: Arial, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color0:#b1e6d1;
  --bg-color1:#b1e6d1;
  --btn-bg1: #b1e6d1;
  --btn-bg2: #43ad83;
  --btn-txt:white; 
  --btn-hover: #43ad83;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
button {
  cursor: pointer;
}