.categoryContainer {
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  gap: 1rem;
  background-color: rgb(248, 215, 220);
  padding: 0 .5rem;
}
.categoryContainer p {
  font-weight: 600;
}
.categoryContainer button {
  justify-self: flex-end;
}
.hidden {
  flex: 1;
}
.specialtyList {
  display: flex;
  gap: 0 1rem;
  padding: 0;
}

button.active {
  background-color: black;
}

.specialtyList .active {
  background-color: pink;
}
.specialtyList button {
  background-color: var(--color-btn);
  padding: 8px;
  font-size: 1rem;

  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.61);
}

