.categoryContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-color1);
  padding: 0 .5rem;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.categoryContainer p {
  font-weight: 600;
}
.categoryContainer button {
  justify-self: flex-end;
}
.hidden {
  flex: 1;
}
.specialtyList {
  display: flex;
  gap: 0 1rem;
  padding: 0;
}

.specialtyList button {
  background-color: var(--color-btn);
  padding: 8px;
  font-size: 1rem;

  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 1);
}

